header {

  .top-header {
    background: #343434;

    @include screen-sm { //스크린 768px 이상일 때
      display: none;
    }
    @include screen-xs { //스크린 768px 이상일 때
      display: none;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;

      .links {
        a {
          display: inline-flex;
          align-items: center;
          padding: 0 10px;
          height: 40px;
          border-right: 1px solid #525252;
          transition: 0.5s;

          i {
            color: #dedede;
            font-size: 17px;
          }
        }

        a:nth-child(1):hover {
          background: #00a2d3;

        }

        a:nth-child(2):hover {
          background: #721c24;

        }

        a:nth-child(3):hover {
          background: #004085;

        }

        a:nth-child(4):hover {
          background: #543e90;
        }

        a:nth-child(5):hover {
          background: #00a2d3;
        }

      }

      .txt {
        display: flex;

        p {
          display: flex;
          color: #dedede;
          word-spacing: -5px;

          span {
            display: flex;
            align-items: center;
            color: #dedede;
            font-size: 24px;
          }
        }

        p:nth-child(1) {
          padding-right: 30px;
        }
      }
    }
  }

  .main-header {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 84px;

      .logo {
        a {
          img {
            display: flex;
            width: 171px;
            height: 45px;
          }
        }
      }

      nav {
        display: flex;
        align-items: center;

        ul {
          display: flex;

          @include screen-md {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 1000;
            width: 300px;
            background: #fff;
            border-right: 1px solid #ddd;
            flex-direction: column;
            justify-content: center;
            transform: translateX(-97%);
            transition: 0.6s;
            &:hover {
              transform: none;
            }
          }

          @include screen-sm {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 1000;
            width: 300px;
            background: #fff;
            border-right: 1px solid #ddd;
            flex-direction: column;
            justify-content: center;
            transform: translateX(-97%);
            transition: 0.6s;
            &:hover {
              transform: none;
            }
          }

          li {
            transition: 0.6s;

            @include screen-md {
              text-align: center;
              padding: 20px 0;

              &:hover {
                background: #eeeeee;
                transition: 0.6s;
              }
            }

            @include screen-sm {
              text-align: center;
              padding: 20px 0;

              &:hover {
                background: #eeeeee;
                transition: 0.6s;
              }
            }

            a {
              padding-right: 30px;
              color: #2f362f;
              font-weight: 600;

              i {
                padding-left: 5px;
              }
            }

            .home {
              color: #3498db;
            }
          }
        }
      }

      .btn-menu {
        font-size: 30px;
        padding: 10px 30px;
        display: none;

        @include screen-md {
          display: block;
        }
        @include screen-sm {
          display: block;
        }

      }
    }
  }
}
