html, body {height:100%;}

#wrap {

}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;

    @include screen-lg { //스크린 1200px 이상일 때
        max-width: 992px;
    }
    @include screen-md { //스크린 992px 이상일 때
        max-width: 750px;
    }
    @include screen-sm { //스크린 768px 이상일 때
        max-width: 100%;
    }
    @include screen-xs { //스크린 768px 이상일 때
        max-width: 100%;
    }
}

.section {
    width: 100%;
}